<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LogInPage</servlet-name>
    <servlet-class>hotelmanagement.LogInPage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LogInPage</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RegistrationPage</servlet-name>
    <servlet-class>hotelmanagement.RegistrationPage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RegistrationPage</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>

</web-app>

